@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.custom-font{
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
}
.carousel{
    width: 100vw;
    height: 70vh;
}

.w-100{
    width: 100vw;
    height: 400px!important;
}

#Home-bg{
    background-color: rgb(105, 105, 105);
}

.d-md-block{
    text-align: left;
}