@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.custom-font{
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
}
.carousel{
    width: 100vw;
}

.w-100{
    width: 100vw;
}

#Home-bg{
    background-color: #212529;
}

.d-md-block{
    text-align: left;
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

h1,h2{
    padding-top: 2%;
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
    padding: 2%;
}

#lshop{
    width: 100vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



  .footer-copyright{
      color: white;
  }